<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="08 - Say Hello to ...Spread and ...Rest\jumping-letters.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>